<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII Art Generator</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="container">

        <div class="top-section">
            <h1>Text to ASCII Art Generator</h1>

            <form method="POST" action="/">
                <div class="form-group">
                    <div class="left">
                        <label for="banner">ASCII Art Font</label>
                        <select name="banner" id="banner">
                            <option value="standard">Standard</option>
                            <option value="shadow">Shadow</option>
                            <option value="thinkertoy">Thinkertoy</option>
                        </select>
                    </div>

                    <div class="right">
                        <label for="text">Input Text</label>
                        <textarea
                            name="text"
                            id="text"
                            placeholder="Enter text here..."
                            rows="6"></textarea>
                    </div>
                </div>

                <button type="submit">Generate ASCII Art</button>
            </form>
        </div>

        <div class="output-section">
            <h2>Output</h2>

            <pre>{{.Result}}</pre>
        </div>

    </div>

</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII-ART GENERATOR</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
     
        <div class="top-section">
          <h1>Text To ASCII-ART Generator</h1>
          <form action="ascii-art" method="post">
            <div class="form-group">
                <div class="left">
                    <label for="banner">ASCII-ART Font</label>
                    <select name="banner" id="dropdown">
                        <option value="standard">Standard</option>
                        <option value="shadow">Shadow</option>
                        <option value="thinkertoy">Thinkertoy</option>
                    </select>
                </div>
                <div class="right">
                    <label for="text">Input Text</label>
                    <textarea name="text" id="textarea" placeholder="enter your text here..." rows="6"></textarea>
                </div>
            </div>
            <button type="submit">Generate</button>
          </form>

      </div>
        <div class="output-section">
            <h2>OUTPUT</h2> 
            <pre>{{.Result}}</pre>   
        </div>
    </div>
    
</body>
</html>