/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #22252b;
    color: white;
    min-height: 100vh;
    padding: 40px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.top-section {
    background-color: #2f333d;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 25px;
}

.top-section h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #f8f8f8;
}

.form-group {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.left,
.right {
    flex: 1;
    min-width: 300px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

select,
textarea {
    width: 100%;
    background-color: #3a3f4b;
    color: white;
    border: 1px solid #555;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

button {
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #4a8cff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #3274ea;
}

.output-section {
    background-color: black;
    padding: 20px;
    border-radius: 12px;
    min-height: 300px;
}

.output-section h2 {
    margin-bottom: 15px;
}

pre {
    color: white;
    font-family: monospace;
    font-size: 14px;
    overflow-x: auto;
    white-space: pre;
    line-height: 1.2;
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #062212;
    color: white;
    min-height: 100vh;
    padding: 40px;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.top-section{
    background-color: #02180b;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 25px;
}

.top-section h1{
    text-align: center;
    color: #f8f8f8;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.left,
.right {
    flex: 1;
    min-width: 300px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

select,
textarea {
    width: 100%;
    background-color: #3a3f4b;
    color: white;
    border: 1px solid #555;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
}
textarea {
    resize: vertical;
}

button {
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #4a8cff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #3274ea;
}

.output-section {
    background-color: #02180b;
    padding: 20px;
    border-radius: 12px;
    min-height: 300px;
}

.output-section h2 {
    margin-bottom: 15px;
}

pre {
    color: white;
    font-family: monospace;
    font-size: 14px;
    overflow-x: auto;
    white-space: pre;
    line-height: 1.2;
} 
